<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="configuration" class="net.ddns.hnmirror.config.Config">
       <property name="ipAppSrv" value="192.168.1.215"/>  <!-- srv:215, odin:200 -->
       <property name="portAppSrv" value="61616"/>
   </bean>

</beans>